* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: "Noto Sans JP";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 共通パーツ */
.section-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 100px;
}

body.is-fixed {
  overflow: hidden;
}

/* ヘッダー */

.header {
  background-color: #bea574;
  /* position: fixed; */
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 0;
  max-width: 900px;
}

.header-logo {
  width: 100px;
}

.header-title-link {
  text-decoration: none;
  color: #fff;
}

.header-title-link:hover {
  opacity: 0.5;
}

.header-nav {
  font-size: 1rem;
  font-weight: normal;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-link {
  text-decoration: none;
  color: #fff;
}

.header-nav-link:hover {
  opacity: 0.5;
}

/* ハンバーガーメニュー */
.header-button {
  display: none;
}

.drawer {
  position: fixed;
  top: 72px;
  width: 100%;
  background-color: #bea574;
  overflow-y: auto;
  z-index: 10;
  display: none;
}

.header-nav-drawer {
  text-align: center;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 20px 0;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* swiper */
.swiper {
  width: 100vw;
  max-height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}

.swiper-button-next {
  right: 60px;
}
.swiper-button-prev {
  left: 60px;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(../slide-btn-prev.svg);
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(../slide-btn-next.svg);
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.swiper-pagination-bullet {
  background: #bea574;
  width: 16px;
  height: 16px;
  margin: 0 12px !important;
}

/* about */

.about-wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.about-title {
  font-size: 24px;
  font-weight: bold;
}

.sub-title-about {
  color: red;
  font-size: 60px;
}

/* schedule */
.schedule-list-wrapper {
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
  max-width: 900px;
}

.schedule-list {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #bea574;
  max-width: 900px;
}

.schedule-item {
  flex: 1;
}

.schedule-item a {
  display: block;
  background-color: #e1e1ea;
  box-sizing: border-box;
  font-weight: bold;
  padding: 10px;
  /* width: 300px; */
}

.schedule-item.selected a {
  background-color: #bea574;
  color: #fff;
}

.schedule-contents {
  padding: 30px;
}

/* access */
.access-wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.access-address {
  text-align: center;
  margin-bottom: 15px;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 900px;
  border: 0;
  display: block;
}

/* form */
.form-wrapper {
  margin: 0 auto 50px;
  width: 300px;
}

form input,
select {
  width: 300px;
  padding: 5px 0;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-radius: 2px;
  font-size: 16px;
}

.form-wrapper label {
  display: inline-block;
  font-size: 0.85rem;
  margin-top: 10px;
}

.form-wrapper label:first-child {
  margin-top: 0;
}

.form-required {
  color: red;
  font-size: 0.5rem;
  letter-spacing: -0.5px;
}

.form-optional {
  color: gray;
  font-size: 0.5rem;
  letter-spacing: -0.5px;
}

.form-submit {
  margin-top: 10px;
}

.form-btn {
  opacity: 0.5;
  color: #fff;
  background-color: #bea574;
}

.reserve-btn {
  opacity: 1;
}

/* footer */
.footer {
  background-color: #bea574;
  width: 100%;
}

.footer-wrapper {
  margin: auto;
  width: 300px;
  text-align: center;
}

.footer-logo {
  width: 100px;
  padding: 15px 0 10px 0;
}

/* confirm page */
.confirm {
  margin: 20px auto;
  max-width: 900px;
  text-align: center;
}

.confirm-title {
  margin-bottom: 48px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin-left: 150px;
}

dt {
  width: 30%;
  margin-bottom: 48px;
}
dt:last-of-type {
  margin-bottom: 20px;
}
dd {
  width: 70%;
  margin-bottom: 48px;
  text-align: left;
}
dd:last-of-type {
  margin-bottom: 20px;
}

.confirm-btn {
  padding: 5px 10px;
  margin: 0 80px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.confirm-btn-back {
  background-color: lightgray;
}
.confirm-btn-send {
  background-color: #bea574;
}
/* thanks page */
.thanks-text {
  text-align: center;
  font-weight: bold;
  margin: 30px;
}

@media screen and (max-width: 960px) {
  /* header */
  .header-container {
    margin: 0 20px;
  }

  .header-nav-list {
    display: flex;
    gap: 30px;
  }

  /* swiper */
  .swiper-slide img {
    min-height: 400px;
    aspect-ratio: 16/9;
  }

  /* schedule */
  .schedule-wrapper {
    margin: 0 20px;
  }

  /* schedule */
  #access {
    margin: 0 20px;
  }

  /* confirm.php */
  dl {
    margin-left: 50px;
    max-width: 600px;
  }
  dt {
    width: 40%;
    text-align: right;
  }
  dd {
    width: 60%;
    text-align: center;
  }

  @media screen and (max-width: 431px) {
    .header-title {
      padding-left: 10px;
      font-size: 1rem;
    }

    .header-nav-list {
      display: none;
    }

    .header-button {
      display: block;
    }

    .button-drawer {
      width: 30px;
      height: 30px;
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 7px;
      cursor: pointer;
    }

    .button-drawer span {
      display: block;
      width: 100%;
      height: 3px;
      background: #fff;
      border-radius: 1px;
    }

    .button-drawer.active span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    .button-drawer.active span:nth-child(2) {
      opacity: 0;
    }
    .button-drawer.active span:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
    /* swiper button */
    .swiper-button-next {
      right: 15px;
    }
    .swiper-button-prev {
      left: 15px;
    }

    /* confirm.php */
    dl {
      margin-left: 20px;
      max-width: 430px;
    }
    .confirm-btn {
      margin: 0 40px;
    }
  }
}
