* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 共通パーツ */
.section-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 100px;
}

/* ヘッダー */

.header {
  background-color: #bea574;
  /* position: fixed; */
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 0;
  width: 820px;
}

.header-logo > img {
  width: 100px;
}

.header-title-link {
  text-decoration: none;
  color: #fff;
}

.header-title-link:hover {
  opacity: 0.5;
}

.header-nav {
  font-size: 1rem;
  font-weight: normal;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-link {
  text-decoration: none;
  color: #fff;
}

.header-nav-link:hover {
  opacity: 0.5;
}

/* swiper */
.swiper {
  width: 100vw;
  height: 800px; /* 好きな高さ */
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
}

.swiper-slide {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}

.swiper-button-next {
  right: 60px;
}
.swiper-button-prev {
  left: 60px;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(../slide-btn-prev.svg);
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(../slide-btn-next.svg);
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #bea574;
  width: 16px;
  height: 16px;
  margin: 0 12px !important;
}

/* about */

.about-wrapper {
  margin: 0 auto;
  width: 600px;
}

.about-title {
  font-size: 24px;
  font-weight: bold;
}

.sub-title-about {
  color: red;
  font-size: 60px;
}

/* schedule */
.schedule-title {
}
.schedule-list-wrapper {
  text-align: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
  width: 900px;
}

.schedule-list {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #bea574;
}

.schedule-item a {
  display: block;
  background-color: #e1e1ea;
  box-sizing: border-box;
  font-weight: bold;
  padding: 10px;
  width: 300px;
}

.schedule-item.selected a {
  background-color: #bea574;
  color: #fff;
}

.schedule-contents {
  padding: 30px;
}

/* access */
.access-wrapper {
  margin: 0 auto;
  width: 600px;
}

/* form */
.form-wrapper {
  margin: 0 auto 50px;
  width: 300px;
}

form input,
select {
  width: 300px;
  padding: 5px 0;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-radius: 2px;
  font-size: 16px;
}

.form-wrapper label {
  display: inline-block;
  font-size: 0.85rem;
  margin-top: 10px;
}

.form-wrapper label:first-child {
  margin-top: 0;
}

.form-required {
  color: red;
  font-size: 0.5rem;
  letter-spacing: -0.5px;
}

.form-optional {
  color: gray;
  font-size: 0.5rem;
  letter-spacing: -0.5px;
}

.form-submit {
  margin-top: 10px;
}

.form-submit > input {
  opacity: 0.5;
  color: #fff;
  background-color: #bea574;
}

/* footer */
.footer {
  background-color: #bea574;
  width: 100%;
}

.footer-wrapper {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.footer-logo > img {
  width: 100px;
}
